
#btn-outline-secondary {
 font-size: 25px;
 padding: 10px 15px;
 margin-top: 10px;
 position: fixed;
 right: 15px;
}

.teams {
  margin: 30px;
  font-size: 40px;
}

.team-lists {
  list-style-type: none;
}

.team-name {
  margin-right: 10px;
}

.logout {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.guidance {
  margin-top: 50px;
  text-align: center;
}